/*
html, body {
    font-size: 16px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
    -webkit-text-size-adjust: none;
    height: 100%;
    overflow: hidden;
}

body {
    max-width: 500px;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background-color: #f0f0f0;
    color: #232323;
}*/
